<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<dict>
		<key>Twitter</key>
		<false/>
	</dict>
	<key>Theme</key>
	<dict>
		<key>Name</key>
		<string></string>
	</dict>
	<key>Display</key>
	<dict>
		<key>FontName</key>
		<string></string>
		<key>New item</key>
		<string></string>
	</dict>
	<key>Subscriptions</key>
	<dict/>
	<key>NavigationBar</key>
	<dict/>
	<key>Extensions</key>
	<dict/>
	<key>Refresh</key>
	<dict/>
	<key>Streaming</key>
	<dict/>
	<key>Notifications</key>
	<dict/>
	<key>Network</key>
	<dict/>
	<key>Compose</key>
	<dict/>
	<key>Content</key>
	<dict/>
	<key>Storage</key>
	<dict/>
	<key>Others</key>
	<dict/>
	<key>About</key>
	<dict/>
	<key>License</key>
	<dict/>
</dict>
</plist>
